{% extends '::base.html.twig' %}

{% block main_content %}
    {% set edit_project  %}
        <button id="edit-project" formaction="{{ url('project_edit') }}">Edit project</button>
    {% endset %}
    <form>
        {% if (is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN'))  %}
            {{ edit_project }}
        {% endif %}
    </form>
    <div class="label">
        Label({{ project.code }}):
       <p> {{ project.label }} </p>
    </div>
    <div class="project_summary">
        Summary:
        <p>{{ project.summary }}</p>
    </div>

{% endblock %}