{% extends '::base.html.twig' %}

{% block main_content %}
    {% set create_project %}
    <button id="create-project" formaction="{{ url('project_create') }}">Create project</button>
    {% endset %}
    <form>
        {% if is_granted('ROLE_MANAGER')  %}
            {{ create_project }}
            {% elseif is_granted('ROLE_ADMIN') %}
                {{ create_project }}
            {% else %}
        {% endif %}
    </form>
        <p>Projects:</p>
    <ul>
    {% for  project in projects %}
        <li><a href="{{ url('project_code',{'code':project.code})}}">{{project.label}}</a></li>
    {% endfor %}
    </ul>
    <div class="summary-project">

    </div>
    <div class="project-activities>">

    </div>
{% endblock %}